{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>InfraTools</title>

    <!-- Bootstrap core CSS-->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.css' %}" rel="stylesheet">

    <!-- Custom fonts for this template-->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css'%}" rel="stylesheet" type="text/css">

    <!-- Page level plugin CSS-->
    <link href="{% static 'vendor/datatables/dataTables.bootstrap4.css'%}" rel="stylesheet">

    <!-- Page level plugin CSS-->
    <link href="{% static 'vendor/metisMenu/metisMenu.min.css'%}" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin.css'%}" rel="stylesheet">
    <link href="{% static 'css/infraweb.css'%}" rel="stylesheet">

  </head>

  <body id="page-top">

    <nav class="navbar navbar-expand navbar-dark bg-dark static-top">

        <a class="navbar-brand mr-1" href="/"><i class="fa fa-toolbox"></i>  InfraTools</a>

{#      <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">#}
{#        <i class="fas fa-bars"></i>#}
{#      </button>#}

      <!-- Navbar Search -->
      <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
          <div class="input-group-append">
            <button class="btn btn-primary" type="button">
              <i class="fas fa-search"></i>
            </button>
          </div>
        </div>
      </form>

      <!-- Navbar -->
      <ul class="navbar-nav ml-auto ml-md-0">
        <li class="nav-item dropdown no-arrow mx-1">
          <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-bell fa-fw"></i>
            <span class="badge badge-danger">9+</span>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="alertsDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item dropdown no-arrow mx-1">
          <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-envelope fa-fw"></i>
            <span class="badge badge-danger">7</span>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="messagesDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item dropdown no-arrow">
          <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-user-circle fa-fw"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
            <a class="dropdown-item" href="#">Settings</a>
            <a class="dropdown-item" href="#">Activity Log</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">Logout</a>
          </div>
        </li>
      </ul>

    </nav>

    <div id="wrapper">

      <!-- Sidebar -->
      <ul class="sidebar navbar-nav toggled">
                  {% for section in sections %}
            <li class="nav-item">
                <a class="nav-link" href="/{{ section.name }}/">
                    <i class="fa fa-fw {{ section.icon }} fa-fw"></i>
                    <span>{{ section.title|title }}</span>
                </a>
            </li>
        {% endfor %}

{#        <li class="nav-item">#}
{#          <a class="nav-link" href="index.html">#}
{#            <i class="fas fa-fw fa-tachometer-alt"></i>#}
{#            <span>Dashboard</span>#}
{#          </a>#}
{#        </li>#}
{#        <li class="nav-item dropdown">#}
{#          <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
{#            <i class="fas fa-fw fa-folder"></i>#}
{#            <span>Pages</span>#}
{#          </a>#}
{#          <div class="dropdown-menu" aria-labelledby="pagesDropdown">#}
{#            <h6 class="dropdown-header">Login Screens:</h6>#}
{#            <a class="dropdown-item" href="login.html">Login</a>#}
{#            <a class="dropdown-item" href="register.html">Register</a>#}
{#            <a class="dropdown-item" href="forgot-password.html">Forgot Password</a>#}
{#            <div class="dropdown-divider"></div>#}
{#            <h6 class="dropdown-header">Other Pages:</h6>#}
{#            <a class="dropdown-item" href="404.html">404 Page</a>#}
{#            <a class="dropdown-item active" href="blank.html">Blank Page</a>#}
{#          </div>#}
{#        </li>#}
{#        <li class="nav-item">#}
{#          <a class="nav-link" href="charts.html">#}
{#            <i class="fas fa-fw fa-chart-area"></i>#}
{#            <span>Charts</span></a>#}
{#        </li>#}
{#        <li class="nav-item">#}
{#          <a class="nav-link" href="tables.html">#}
{#            <i class="fas fa-fw fa-table"></i>#}
{#            <span>Tables</span></a>#}
{#        </li>#}
      </ul>

      <div id="content-wrapper">


        <div class="container-fluid">
        {% block content %}

        {% endblock content %}
{#          <!-- Breadcrumbs-->#}
{#          <ol class="breadcrumb">#}
{#            <li class="breadcrumb-item">#}
{#              <a href="index.html">Dashboard</a>#}
{#            </li>#}
{#            <li class="breadcrumb-item active">Blank Page</li>#}
{#          </ol>#}

{#          <!-- Page Content -->#}
{#          <h1>Blank Page</h1>#}
{#          <hr>#}
{#          <p>This is a great starting point for new custom pages.</p>#}

        </div>
        <!-- /.container-fluid -->

{#        <!-- Sticky Footer -->#}
{#        <footer class="sticky-footer">#}
{#          <div class="container my-auto">#}
{#            <div class="copyright text-center my-auto">#}
{#              <span>Copyright © Your Website 2018</span>#}
{#            </div>#}
{#          </div>#}
{#        </footer>#}

      </div>
      <!-- /.content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Are you sure you want to logout?</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href="/logout">Logout</a>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- jsonform core JavaScript-->
    <script src="{% static 'vendor/underscore/underscore.js' %}"></script>
    <script src="{% static 'vendor/jsonform/jsonform.js' %}"></script>

    <!-- metismenu core JavaScript-->
    <script src="{% static 'vendor/metisMenu/metisMenu.min.js' %}"></script>

    <!-- Datatables -->
    <script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'js/sb-admin.js' %}"></script>
    <script src="{% static 'js/infraweb.js' %}"></script>
  <script src="{% static 'js/logs.js' %}"></script>

  </body>

</html>
