{% extends 'main/base_index.html' %}
{% block content %}

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Api View</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <i class="fa fa-laptop"> </i>
                    Add a new VPN device
                </div>
                <div class="panel-body">

                    <div class="row">

                        <div class="col-lg-6">

                            <form role="form" id="api_form">

                            </form>
                            <p></p>
                        </div>
                        <div class="col-lg-6">

                            <div class="panel panel-info">
                                <div class="panel-heading">Results</div>

                                <div class="panel-body" id="res">

                                    The results will appear here

                                </div>
                            </div>


                        </div>


                    </div>


                </div>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <script>
        var targetApi = '{{ target|escapejs }}';
    </script>

{% endblock %}