{% extends 'main/base_index.html' %}
{% block content %}
    <div class="row">
        <div class="col-lg-3">

            <div class="card mb-3">

                <div class="card-header">
                    <i class="fa fa-paper-plane"></i>
                    API Tree
                </div>

                <div class="card-body">
                    <ul class="metisFolder metismenu" id="api_tree">
                        {% for module in modules %}

                            <li>
                                <a href="#"><span class="fa fa-fw fa-folder"></span> {{ module.name|title }}</a>
                                {% for api in module.apis %}
                                    <ul>
                                        <li>

                                            <a href="#"><span class="fa fa-fw fa-folder"></span> {{ api.name|title }}
                                            </a>
                                            {% if api.actions|length > 1 %}
                                                <ul>
                                                    {% for action in api.actions %}
                                                        <li><a href="{{ action.url }}"> {{ action.name|title }}</a></li>
                                                    {% endfor %}
                                                </ul>
                                            {% endif %}

                                        </li>
                                    </ul>

                                {% endfor %}
                            </li>
                        {% endfor %}
                    </ul>


                </div>


            </div>


        </div>

        <div class="col-lg-9">

            <div class="card mb-3">

                <div class="card-header">
                    Endpoint: <span id="api_name"></span>
                </div>
                <div class="card-body">
                    <form id="api_form"><----- Select any API call from the list on the left</form>

                </div>

            </div>

            <div class="card mb-3">

                <div class="card-header">
                    Results
                </div>
                <div class="card-body" id="api_res">
                    Empty for now

                </div>


            </div>


        </div>
    </div>
{% endblock %}