{% extends 'main/base_index.html' %}
{% block content %}


    <div class="card mb-3">

            <div class="card-header">
                <i class="fa fa-book"> </i>
                Log browser
            </div>
            <div class="card-body">
            <div class="table-responsive">
            <table id="logs_table" class="table table-bordered" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th>Timestamp</th>
                    <th>User</th>
                    <th>Path</th>
                    <th>Method</th>
                    <th>Request data</th>
                </tr>
                </thead>
                <tbody>

                {% for log in logs %}

                    <tr>
                    <td>{{ log.created_at|date:'Y-m-d H:i:s' }}</td>
                    <td>{{ log.user }}</td>
                    <td>{{ log.path }}</td>
                    <td>{{ log.method }}</td>
                    <td>{{ log.request_data }}</td>


                    </tr>


                {% endfor %}




                </tbody>
            </table>
</div>




            </div>




    </div>

{% endblock content %}